<template>
  <div class="row row_layout">
    <div class="col col_layout">
      <div class="row row_toolbar">
        <div class="col col_logo">
          logo
        </div>
        <div
          class="col col_cart"
          @click="isCartOpen = true"
        >
          cart ({{ cart.length }})
        </div>
      </div>
      <div class="row row_content">
        <GroupItem
          v-for="group in groupsList"
          :key="group.id"
          :group="group"
          @push_item="updateProduct"
        />
      </div>
      <ProductCart
        v-if="isCartOpen"
        :product-list="cart"
        @update-product-quantity="handleUpdateProductQuantity"
        @delete-product="handleDeleteProduct"
        @close="isCartOpen = false"
      />
    </div>
  </div>
</template>

<script>
import GroupItem from '../components/GroupItem.vue';
import ProductCart from '../components/ProductCart.vue';

export default {
  name: 'CartPage',
  components: {
    ProductCart,
    GroupItem,
  },
  data() {
    return {
      groups: [],
      cart: [],
      isCartOpen: false,
    };
  },
  computed: {
    groupsList() {
      return this.groups.filter((group) => {
        const products = group.products.filter((product) => product.isValid());
        return products.length > 0;
      });
    },
  },
  watch: {
    groups() {
      this.groups.forEach((group) => {
        group.products.forEach((product) => {
          if (product.isValid() && product.reserved > 0) {
            this.updateCartProduct(product);
          }
        });
      });
    },
  },
  async created() {
    const groups = await this.$apiServices.names.get();
    await this.updatePriceListData(groups);

    setInterval(this.updatePriceListData, 5000);
  },
  methods: {
    async updatePriceListData(groups = null) {
      const [priceListInfo, currency] = await Promise.all([
        this.$apiServices.data.get(),
        this.$apiServices.currency.get(),
      ]);

      const priceList = priceListInfo.reduce((mapped, priceListItem) => {
        const { groupId, productId } = priceListItem;

        mapped[groupId] = mapped[groupId] ?? {};
        mapped[groupId][productId] = priceListItem;

        return mapped;
      }, {});
      const currentGroups = groups ?? this.groups;

      this.groups = currentGroups
        .map((group) => this.$modelFactory.group.clone(group, { priceList, currency }));
    },
    updateCartProduct(product) {
      const cart = [...this.cart];
      const productIndex = cart.findIndex((cartProduct) => cartProduct.id === product.id);

      if (productIndex > -1) {
        cart[productIndex] = product;
      } else {
        cart.push(product);
      }

      this.cart = cart;
    },
    updateProduct(product) {
      const groupIndex = this.groups.findIndex((gr) => gr.id === product.group.id);
      const group = this.$modelFactory.group.build(product.group.id, product.group.name);

      this.groups[groupIndex].products.forEach((prod) => {
        if (prod.id === product.id) {
          group.pushProduct(product);
        } else {
          group.pushProduct(prod);
        }
      });

      this.$set(this.groups, groupIndex, group);
    },
    handleUpdateProductQuantity(product) {
      this.updateProduct(product);
    },
    handleDeleteProduct(product) {
      product.reserve(0);
      this.updateProduct(product);

      this.cart = this.cart.filter((prod) => prod.id !== product.id);
    },
  },
};
</script>

<style lang="scss" scoped>
  .row {
    display: flex;
    flex-direction: row;

    &_layout {
      flex-grow: 1;
    }

    &_content {
      padding: 15px;
      justify-content: flex-start;
      align-items: start;
      flex-wrap: wrap;
    }

    &_toolbar {
      height: 40px;
      justify-content: space-between;
      padding: 5px 0;
      border-bottom: 1px solid #2c3e50;
    }
  }
  .col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &_logo {
      width: 150px;
      padding: 0 5px;
      flex-grow: 0;
      justify-content: center;
      align-items: center;
    }

    &_cart {
      width: 40px;
      padding: 0 5px;
      flex-grow: 0;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
</style>
