<template>
  <div class="group">
    <div
      class="title"
      @click="isActive = !isActive"
    >
      {{ group.name }}
      <div
        :class="indicatorClass"
      />
    </div>
    <div
      v-if="isActive"
      class="products"
    >
      <ProductItem
        v-for="product in products"
        :key="product.id"
        :product="product"
        @push_item="$emit('push_item', $event)"
      />
    </div>
  </div>
</template>

<script>
import Group from '../models/Group';
import ProductItem from './ProductItem.vue';
import Product from '../models/Product';

export default {
  name: 'GroupItem',
  components: {
    ProductItem,
  },
  props: {
    group: {
      type: Group,
      required: true,
    },
  },
  emits: {
    push_item: Product,
  },
  data() {
    return {
      isActive: true,
    };
  },
  computed: {
    indicatorClass() {
      return [
        'indicator',
        this.isActive ? 'active' : null,
      ];
    },
    products() {
      return this.group.products.filter((product) => product.isValid());
    },
    mapper(response) {
      return response;
    },
  },
};
</script>

<style lang="scss" scoped>
.group {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid lightgray;

  .title {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid lightgray;
    cursor:pointer;

    .indicator {
      width: 20px;
      height: 20px;
      background-color: antiquewhite;

      &.active {
        background-color: aquamarine;
      }
    }
  }
}

</style>
