<template>
  <div class="cart__product">
    <div class="name">
      {{ currentProduct.group.name }}. {{ currentProduct.name }}
    </div>
    <div class="quantity">
      <input
        type="number"
        :value="currentProduct.reserved"
        @input="handleInput"
      >
      <div
        v-if="isQuantityError"
        class="quantity-error"
      >
        Количество ограничено ({{ currentProduct.quantity }})
      </div>
    </div>
    <div class="price">
      {{ currentProduct.getPrice().toFixed(2) }} руб./шт.
    </div>
    <div class="buttons">
      <div
        class="button"
        @click="handleDelete"
      >
        Удалить
      </div>
    </div>
  </div>
</template>

<script>
import Product from '../models/Product';

export default {
  name: 'ProductCartItem',
  props: {
    product: {
      type: Product,
      required: true,
    },
  },
  emits: {
    'update-product-quantity': Product,
    'delete-product': Product,
  },
  data() {
    return {
      currentProduct: null,
      isQuantityError: false,
    };
  },
  watch: {
    product() {
      this.updateCurrentProduct();
    },
  },
  created() {
    this.updateCurrentProduct();
  },
  methods: {
    updateCurrentProduct() {
      const {
        id,
        price,
        currency,
        quantity,
      } = this.product;

      const info = {
        G: id,
        C: price,
        P: quantity,
      };

      const additional = {
        currency,
        priceListItem: this.$modelFactory.priceListItem.build(info),
      };

      this.currentProduct = this.$modelFactory.product
        .clone(this.product, this.product.group, additional);
    },
    handleInput(event) {
      const quantity = event.target.value;
      this.isQuantityError = !this.currentProduct.canReserve(+quantity);
      if (!this.isQuantityError) {
        this.currentProduct.reserve(quantity);
        this.$emit('update-product-quantity', this.currentProduct);
      } else {
        this.currentProduct.reserve(this.currentProduct.reserved);
      }
    },
    handleDelete() {
      this.$emit('delete-product', this.currentProduct);
    },
  },
};
</script>

<style lang="scss" scoped>
.cart__product {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  .name {
    display: flex;
    justify-content: start;
    flex-grow: 1;
  }

  .quantity {
    display: flex;
    flex-direction: column;
    width: 200px;
  }

  .price {
    display: flex;
    width: 200px;
    justify-content: center;
  }

  .buttons {
    display: flex;
    width: 100px;

    .button {
      display: block;
      padding: 5px;
      border: 1px solid black;
      cursor: pointer;
    }
  }
}
</style>
