<template>
  <div class="cart">
    <div class="wrapper">
      <div
        class="close-button"
        @click="$emit('close')"
      />
      <div class="title">
        <div class="name">
          Наименование товара и описание
        </div>
        <div class="quantity">
          Количество
        </div>
        <div class="price">
          Цена
        </div>
        <div class="buttons" />
      </div>
      <div class="items">
        <ProductCartItem
          v-for="product in productList"
          :key="product.id"
          :product="product"
          @update-product-quantity="$emit('update-product-quantity', $event)"
          @delete-product="$emit('delete-product', $event)"
        />
      </div>
      <div class="total">
        Общая стоимость: {{ total.toFixed(2) }}
      </div>
    </div>
  </div>
</template>

<script>
import ProductCartItem from './ProductCartItem.vue';
import Product from '../models/Product';

export default {
  name: 'ProductCart',
  components: { ProductCartItem },
  props: {
    productList: {
      type: Array,
      required: true,
    },
  },
  emits: {
    'update-product-quantity': Product,
    'delete-product': Product,
    close: null,
  },
  computed: {
    total() {
      return this.productList.reduce((total, product) => {
        total += product.reserved * product.getPrice();
        return total;
      }, 0);
    },
  },
};
</script>

<style lang="scss" scoped>
.cart {
  display: flex;
  position: fixed;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 100;
  padding-top: 100px;

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);
    top: 0;
    z-index: 10;
  }

  .wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 80%;
    background-color: #ffffff;
    z-index: 1000;
    padding: 10px 20px;
    font-size: 14px;

    .close-button {
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      background-color: darkred;
      top: 0;
      right: -40px;
    }

    .title {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
    }

    .items {
      flex-grow: 1;
    }

    .total {
      display: flex;
      justify-content: end;
    }
  }

  .name {
    display: flex;
    justify-content: start;
    flex-grow: 1;
  }

  .quantity {
    display: flex;
    width: 200px;
  }

  .price {
    display: flex;
    width: 200px;
    justify-content: center;
  }

  .buttons {
    display: flex;
    width: 100px;
  }
}
</style>
