<template>
  <div
    :class="productClasses"
    @click="pushItem"
  >
    <div class="title">
      {{ title }}
    </div>
    <div class="price">
      {{ currentProduct.getPrice().toFixed(2) }}
    </div>
  </div>
</template>

<script>
import Product from '../models/Product';

export default {
  name: 'ProductItem',
  props: {
    product: {
      type: Product,
      required: true,
    },
  },
  emits: {
    push_item: Product,
  },
  data() {
    return {
      isActive: true,
      currentProduct: null,
    };
  },
  computed: {
    title() {
      return `${this.currentProduct.name} (${this.currentProduct.getLeftovers()})`;
    },
    productClasses() {
      return [
        'product',
        this.isActive ? 'active' : null,
        this.isActive && this.currentProduct.isPriceUp() ? 'active_price-up' : null,
        this.isActive && this.currentProduct.isPriceDown() ? 'active_price-down' : null,
      ];
    },
  },
  watch: {
    product() {
      this.updateCurrentProduct();
    },
  },
  created() {
    this.updateCurrentProduct();
    this.isActive = this.currentProduct.canAdd(1);
  },
  methods: {
    pushItem() {
      if (this.isActive) {
        this.currentProduct.pushToCart(1);
        this.$emit('push_item', this.currentProduct);
        this.isActive = this.currentProduct.canAdd(1);
      }
    },
    updateCurrentProduct() {
      const {
        id,
        price,
        currency,
        quantity,
      } = this.product;

      const info = {
        G: id,
        C: price,
        P: quantity,
      };

      const additional = {
        currency,
        priceListItem: this.$modelFactory.priceListItem.build(info),
      };

      this.currentProduct = this.$modelFactory.product
        .clone(this.product, this.product.group, additional);
    },
  },
};
</script>

<style lang="scss" scoped>
.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  background-color: lightgray;
  color: dimgray;

  &.active {
    cursor:pointer;
    color: #000000;
    background-color: transparent;

    &_price-up {
      background-color: lightcoral !important;
    }

    &_price-down {
      background-color: lightgreen !important;
    }
  }

  .title {
    padding-right: 10px;
    cursor: pointer;
  }

  .price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 14px;
  }
}
</style>
